/*  ESSE CÓDIGO CONFIGURA A MARGEM DA PAGINA, TIRANDO O ESPAÇAMENTO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    font-family: sans-serif;  /* FONTE GERAL DA PAGINA  */

}


/*  HEADER = CABEÇALHO...  */

header{
    background-color: #111;
    display: flex; /* TORNA OS ELEMENTOS QUE ESTÃO DENTRO DA TAG HEADER FLEXIVEL. DEIXO TUDO DENTRO DE UMA MESMA MARGEM  */
    align-items: center; /*  ALINHHA OS ITEMS NO CENTRO */
    justify-content:space-around; /*  FAZ ESPAÇAMENTO */
    flex-wrap: wrap;
    padding: 8px 24px;
    
}

html{
    scroll-behavior: smooth;
}


.dar-link{
    text-decoration: none;
    color:#f13239
}

.dar-link:hover{
    color: aliceblue;
    transition: 0.9s;
}


/*  NAVEGANDO PELAS TAG INDIVIDUALMENTE E FAZENDO ALTERAÇÕES DENTRO DA TAG MÃE */
header img{
    width: 180px;  /*  ALTERA O TAMANHO DA IMAGEM */
}

header ul li + li {      /* LI + LI = COLOCA 24PX NESTE ALI, SE TIVER ANTES DELE UM LI. TIRA A MARGEM.  */
    margin-left: 24px;  /*  VALOR DO ESPAÇAMENTO ENTRE AS LISTAS */

}
header ul {
list-style: none;  /*  DEIXA A LISTA SEM ESTILO (NONE) */
display: flex;    /*  A LISTA FICA FLEXIVEL, LADO A LADO. */


}

header a{          
    border-bottom: 1px solid aliceblue;   
    color: aliceblue;
    text-decoration: none;  /* TIRA A DECORAÇÃO DO LINK  */
    transition: color 0.9s; /*  TEMPO DE TRANSIÇÃO DA COR AO PASSAR O MAUSE */
}


header a:hover,
header a:focus {        /*  QUANDO PASSAR O MAUSE POR CIMA DA LISTA A COR MUDA */
    color: #f13239;
    border-bottom: 1px solid #f13239; 
    transition: 0.9s;
}   

.hero{
    
    height: 320px;
    padding: 24px;

    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center top 25%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.hero h1{
    color:aliceblue;
}

.dots {
    margin-top: 24px;
    display: flex;
}

.dots button {
        cursor: pointer;
    
        width: 14px;
        height: 14px;
        background-color: aliceblue;
        border-radius: 50%;
}

.dots button + button {
    margin-left: 8px;
} 

.gallery {

    max-width: 1200px;
    margin: auto;
    padding: 24px 50px;
}

.imagens {

    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.imagens figure {
    
    flex: 1 1 250px;
}

.imagens img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
}

.gallery h2 {
    margin-bottom: 32px;
    border-left: 4px solid #f13239;
    padding-left: 3px;
}

.gallery figcaption {
    font-weight: bold;
    color: black;
}

.history {
    background-color: black;
    color: aliceblue;
    padding: 92px 24px 20px;

    border-top: 2px solid red;

}

.history .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 50px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    border-bottom: 2px solid red;

}

.history .container .col {
    flex: 1 1 350px;
    
}

.history .container .col img {
    width: 100%;
    display: block;
}

.history .container .col h2, p{
    color: aliceblue;
}

.history .container .col h2 {
    margin-bottom: 32px;
    border-left: 4px solid #f13239;
    padding-left: 3px;
}


footer {
    padding: 64px 24px;
    background-color: black;
    
}

footer p {
    color: aliceblue;
    text-align: center;
}

