/*  ESSE CÓDIGO CONFIGURA A MARGEM DA PAGINA, TIRANDO O ESPAÇAMENTO */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    font-family: sans-serif;  /* FONTE GERAL DA PAGINA  */

}

/*  HEADER = CABEÇALHO...  */

header{
    background-color: #111;
    display: flex; /* TORNA OS ELEMENTOS QUE ESTÃO DENTRO DA TAG HEADER FLEXIVEL. DEIXO TUDO DENTRO DE UMA MESMA MARGEM  */
    align-items: center; /*  ALINHHA OS ITEMS NO CENTRO */
    justify-content:space-around; /*  FAZ ESPAÇAMENTO */
    
}

/*  NAVEGANDO PELAS TAG INDIVIDUALMENTE E FAZENDO ALTERAÇÕES DENTRO DA TAG MÃE */
header img{
    width: 180px;  /*  ALTERA O TAMANHO DA IMAGEM */
}

header ul li + li {      /* LI + LI = COLOCA 24PX NESTE ALI, SE TIVER ANTES DELE UM LI. TIRA A MARGEM.  */
    margin-left: 24px;  /*  VALOR DO ESPAÇAMENTO ENTRE AS LISTAS */

}
header ul {
list-style: none;  /*  DEIXA A LISTA SEM ESTILO (NONE) */
display: flex;    /*  A LISTA FICA FLEXIVEL, LADO A LADO. */


}

header a{             
    color: aliceblue;
    text-decoration: none;  /* TIRA A DECORAÇÃO DO LINK  */
    transition: color 0.5s; /*  TEMPO DE TRANSIÇÃO DA COR AO PASSAR O MAUSE */
}

header a:hover {        /*  QUANDO PASSAR O MAUSE POR CIMA DA LISTA A COR MUDA */
    color: #f13239;
}   

.hero{
    height: 320px;
    padding: 24px;

    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center top 25%;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero h1{
    color:aliceblue;
}